@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');
html{
    box-sizing: border-box;
}
body{
    font-family: 'Londrina Solid' , sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: #aed0f0;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%230055dd' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
h1{
    color: white;
    padding: 20px;
    background: wheat;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    width: 275px;
    margin: 20px auto 10px;
    user-select: none;
}

h1:hover{
    background: whitesmoke;
}
/*BOOKMARKS*/
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    background: rgba(0,0,0,0.5);
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
.item:hover{
    background: rgba(0,0,0,0.6);
}
a{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

a:link, a:visited{
    color: seashell;
    text-decoration: none;
}

a:hover,
a:active{
    text-decoration: underline;
}

.fa-trash-alt{
    float: right;
    cursor: pointer;
    z-index: 2;
}

.name{
    margin-top: 20px;
    margin-right: 20px;
}
.name img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
    vertical-align: sub;
}

/*Modal*/
.modal-container{
    background: rgba(0,0,0,0.6);
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.show-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
   background: white;
   box-shadow: 0 0 10px rgba(0,0,0,0.8); 
   max-width: 95%;
   width: 500px;
   animation: modalopen 1s;
}

@keyframes modalopen{
from{
opacity: 0;
}
to{
opacity: 1;
}
}

.close-icon{
    float: right;
    color: white;
    font-size: 24px;
    position: relative;
    top: 13px;
    right: 13px;
    cursor: pointer;
}

.modal-header{
    background: rgb(18, 159, 220);
    color:whitesmoke;
    padding: 15px
}

h3{
    margin: 0;
}
.modal-content{
    padding: 20px;
    background: rgb(145, 195, 238);
}

/*Form*/
.form-input{
    width: 97%;
    padding: 5px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    display: block;
    outline: none;
}

.form-label{
    color: rgb(0, 121, 241);
    display: block;
}

button{
    cursor: pointer;
    color: wheat;
    background: rgb(29, 121, 213);
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

button:hover{
    filter: brightness(110%);
}

button:focus{
    outline: none;
}
/*media Query*/

@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }
}